.posts {
	margin: 40px;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	background-color: var(--lightest);
	box-shadow: 0 0 10px gray;
}

.post:first-child {
	padding-top: 20px;
}

.post:last-child {
	padding-bottom: 20px;
}

.post {
	display: grid;
	gap: 10px;
	padding-left: 20px;
	padding-right: 20px;

	&& > hr {
		width: 90%;
		height: 1px;
		background-color: black;
	}
}
