.detail {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	background-color: var(--lightest);
	padding: 20px;
	box-shadow: 0 0 10px gray;
}

.title {
	margin: 0;
	font-size: 2rem;
}

.imageContainer {
	display: flex;
	justify-content: center;
	flex-grow: 1;
	height: 100%;
	width: 100%;
}

.image {
	height: auto;
	width: 800px;
}

.detail > p {
	margin: 0;
}

@media (max-width: 1025px) {
	.image {
		width: 300px;
		height: auto;
	}
}

@media (max-width: 500px) {
	.image {
		height: auto;
		width: 200px;
	}
}
