.detail {
	display: flex;
	flex-direction: column;
	gap: 20px;
	background-color: var(--lightest);
	padding: 20px;
	box-shadow: 0 0 10px gray;
}

.title {
	margin: 0;
	font-size: 2rem;
}

.imageContainer {
	display: flex;
	justify-content: center;
	flex-grow: 1;

	&& > img {
		min-height: 400px;
		width: auto;
	}
}

.detail > p {
	margin: 0;
}
