.links {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 20px;
	position: relative;

	&& > li > a {
		text-decoration: none;
		color: var(--lightest);
	}

	&& > li > a > img {
		filter: invert(99%) sepia(0%) saturate(3103%) hue-rotate(170deg)
			brightness(115%) contrast(100%);
		height: 25px;
		width: auto;
	}
}

.logIn:hover::after {
	content: 'Log In';
	background-color: black;
	color: white;
	border: 1px solid white;
	padding: 2px;
	position: absolute;
	top: 100%;
	left: -15%;
}

.signUp:hover::after {
	content: 'Sign Up';
	background-color: black;
	color: white;
	border: 1px solid white;
	padding: 2px;
	position: absolute;
	top: 100%;
	right: -20%;
}

.admin:hover::after {
	content: 'Admin';
	background-color: black;
	color: white;
	border: 1px solid white;
	padding: 2px;
	position: absolute;
	top: 100%;
	left: -15%;
}

.logOut:hover::after {
	content: 'Log Out';
	background-color: black;
	border: 1px solid white;
	color: white;
	padding: 2px;
	position: absolute;
	top: 100%;
	right: -20%;
}
