header {
	background-color: var(--darker);
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1;
	width: 100%;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
	box-shadow: 0 0 10px gray;
}
